*,
::before,
::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
}

html {
  box-sizing: border-box;
}

.myBtn {
  background: gray;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  color: white;
  border-radius: 8px;
}

.sidebar-container {
  // display: relative;
  display: fixed;
  // margin-left: 10rem;
  .v-list-item {
    &.active {
      background-color: #f0f0f0; /* Background color of active tab */
      border-radius: 5px; /* Border radius for active tab */
    }
  }
}
